.DS_Store
*.pyc
.ropeproject
static_cache/*
static_cache
.sass-cache
.box
.vagrant
htmlcov
.coverage
*.sublime-project
*.sublime-workspace
*.log
.idea
node_modules
notifications
test_users.txt
public
tmp
static/js
static/css
static/config
dump.rdb
~vagrant
